html{	
font-family: 'Krona One', sans-serif;
background-image: linear-gradient(to left, #434343 0%, black 100%);
background-size: cover;
}
img{
display: block;
margin: auto;
}
video{
display: block;
margin-top: 60px;
border: double;
height: 300px;
margin-left: 30px;
}
ol li {
	color:#798f8c;
	list-style: none;
	padding: 50px;
	text-align: center;
	font-weight: bold; 
	font-size: 20px
	}
ol img {
border: double;
border-color: white;
}

p {
   color:#798f8c;
   font-size: 20px;
   text-align: center;
   }
div p {
  padding-bottom: 50px;
   }

header nav ul li {
display: inline-block;
text-decoration: none;
color:#A19D90;
padding: 2px;
margin: 2px;
height: 28px;
width: 250px;
}
header nav ul li:hover{
display: inline-block;
text-decoration: underline;
color:#0e1821;
background-color:#d9ebe9;
padding: 2px;
margin: 2px;
height: 28px;
width: 250px;
}
body a {
	text-decoration: none;
	color:white;
	padding: 2px;
	border: 2px;
	font-size: 20px;
	margin: 20px;
	font-family: 'Suez One', serif;	
}
body a:hover{
	text-decoration: underline;
	color:#0e1821;
	padding: 2px;
	border: 2px;
	margin: 20px;
	font-family: 'Suez One', serif;
}
ul li {
	color: #798f8c;
	text-align: center;	
	list-style: none;
}
  h1 {
  text-transform: uppercase;
  color: #d9ebe9;
  font-size: 30px;
  padding: 15px;
  letter-spacing: 3px;
  text-align: center;
   }
 footer{
font-family: 'Suez One', serif;
text-align: center;
}
iframe{
	display: block;
margin: auto;
}
nav img{
	margin:5px;
	border: double;
	border-color: white;
	}
.subtitulo {
   color:#CDD2D6;
   font-family: 'Suez One', serif;
   text-align: center;
   padding: 20px;
   margin:55px;
   font-weight: bold; 
   border: double;
   border-color: white;
   letter-spacing: 2px;
   font-size: 25px;
   }
 .subtitulo2 {
   color:#CDD2D6;
   font-family: 'Suez One', serif;
   text-align: center;
   padding: 20px;
   margin:55px;
   font-weight: bold; 
   border: double;
   border-color: white;
   letter-spacing: 3px;
   font-size: 30px;
   }
.left{
	text-transform: uppercase;
    color: #798f8c; 
	text-align: left;
	font-size: 15px;
	padding:5px;
}
.form-group{
	color: #798f8c;
	font-style: bold;
	font-size: 15px;
}
.encabezado{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	margin: 10px;
}
}
.encabezadoprinc{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#negro{
	background-color: black;
}
.form{
text-align: left;
border: none;
padding: 5px; 
margin: 5px;
font-size: 15px; 
}
.pie{
	display: flex;
	background-image: linear-gradient(to right, #403B4A 0%, #E7E9BB 100%);
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 5px;
	margin: 5px;	
}
.logo{
	padding: 5px;
	margin: 5px;
}
.logopie{
	padding: 5px;
	margin: 5px;
}
#boton{
	padding: 5px;
	margin: 30px;
	text-align: center;
	color: black;
	background-color: lightblue;
}
.main{
	background-image: linear-gradient(to left, #434343 0%, black 100%);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	padding: 5px
}
.main2{
	background-image: linear-gradient(to left, #434343 0%, black 100%);
}
.inicio{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}
.btn{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
   	align-content: center;
	}
.colores{
	display: flex;
	width: 700px;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

}
.nosotros{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}
.descripcion{
	padding: 10px;
	margin: 10px;
	width: 500px;
}
.contenedor{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}
.contenedor2{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 50px;	
}
.costos{
	margin-left: 20px;
	align-self: left; 
}
.card{
	margin:15px;
}
.centro{
	text-align: center;
}
.zoom{
display: block;
margin: auto;
border: double;
}
.zoom:hover{
transform:scale(1.5)
}
.animate__animated.bounceIn{
	animation-duration:5s;
	}
.card-img-top{
	width: 300px;
	height: 300px;
    border: none;
	}
.card-text{
	color:black;
	font-family: 'Suez One', serif;
	font-size: 15px;
	}

.card{
	background-color: #d9ebe9;
    height: 370px;
	}


@media screen and (max-width:500px){
	
.colores{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	padding: 5px
}

.zoom:hover{
transform:scale(1.2)
}
.contenedor2{
	display: flex;
	flex-wrap: wrap;
	width:100%;	
}
.costos{
	width:100%; 
}
ul li {
	color: #798f8c;
	text-align: left;	
	list-style: none;
	font-size: 80%;
}
video{
	height: 200px;
    width:80%;
}
.instagram{
	width: 250px;
	height: 200px;
	border: none;
}
.encabezado{
	width: 95%;
}
header nav ul li {
height: 20px;
width: 180px;
}
header nav ul li:hover{
height: 20px;
width: 180px;
}
body a {
	font-size: 15px;
	margin: 20px;
}
body a:hover{
	margin: 20px;
}
.logo{
	padding: 2px;
	width: 70%;
	height:70%;
	}
.logo2{
padding: 10px;
margin-right: 15px;
width: 30%;
height:30%;
	}
iframe{
height:70%;
width: 80%;
}
	}